# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Bought-Broken.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Documents\Development\2017 Projects\Bought-Broken\Bought-Broken\.idea\.idea.Bought-Broken\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
